*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    
    line-height: 1.5;
    color: black;
    background-color: white;
    
}

ul
{
    list-style-type: none;
}
.container
{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 30px;
    gap: 10px;
}

.sub-container
{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 30px;
}
.navbar a
{
    background-color: white;
    color: #404040;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 14px;
   /* font-weight: bold;*/
}
.navbar
{
    background-color: white;
    color: black;
    width: 100%;
    height: 58px;
    display: inline-flex;
}

.btn-hbo
{
    background-color:#B535F6;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
font-size: 11px;
cursor: pointer;
}
.navbar .container
{
    display: flex;
    justify-content:start;
    align-items: center;
    height: 100%;

}
.navbar .sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   display: inline-flex;
    background-color: rgb(255, 255, 255);
}
.navbar ul{
    display: flex;
}
.header-container{
    height: 472px;
    background: url(imges/the-last-of-us-s01-ka-2000x700_0.jpg) no-repeat center center / cover;
}
.header  .text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 271.2px;
    width: 1116px;
    padding: 278px 62px;

}
.btn-btn{
    background-color:#2BB0D8;
      border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
}
.text-container h1{  
color: white;
font-size: 40px;
}
.text-container h6
{  
    color: white;
}
.text-container h5
{  
    color: white;
}
   
.header-container 
{
    padding: 0px 80px;
}
.section .text-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.text-section{
    background-color: white;
    width: 1277px;
    height: 68px;
    font-size: 20px;
    font-weight: bolder;
    color: #404040;
    margin-bottom: 16px;
   
}
.section-container{
    text-align: center;
    justify-content: center;
}
.sub-section  .card1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.imge {
    width: 285px;
    height: 382.42px;
    background-color: rgb(255, 255, 255);
}
.imge{
    width: 255px;
    height: 143px;
    
}
.section-card
{
display: flex;
justify-content: space-evenly;
margin: 50px;
}
.oli
{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.oli:hover{
   text-decoration: underline;
}
.real{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.real:hover{
    text-decoration: underline;
}
.game{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.game:hover{
    text-decoration: underline;
}
.weekend{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.weekend:hover{
    text-decoration: underline;
}
.find{
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
.sections .sub-sect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 114px;
    font-size: 19px;
    color: #404040;
    font-weight: bold;
    background-color: #dfdada;
    
    
   
   
}
.schedule{
    text-align: end;
}
.sub-sections{
    text-align: center;
    justify-content: center;
   
} 
.sub-sect{
 
    background-color: white;
    
    height: 32px;
   
    
    
}
.sections .sub-sect a{
align-items: flex-end;
text-decoration: none;
font-size: 12px;
font-weight: bold;
color: #2BB0D8;
cursor: pointer;


}
.sections  .time h5 h6{
    display: flex; 
    justify-content: space-evenly;
    color: #404040;
    font-weight: bold;
    

}
.showtime
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 15px 20px;
    cursor: pointer;
    color: #404040;
    background-color: #dfdada;
   

    
}
.imagesrc{
    width: 641px;
    height: 361px;
    margin: 0px 94px;
   
   
}
.title
{
   
    top: 297px;
    left: 161px;
    color: white;
    font-size: 22px;   
}
.title1
{
    position: relative;
    top: 297px;
    left: 80px;
    color: white;
    font-size: 15px;
    display: inline;
}
.playbutton{
    position: relative;
    top: 297px;
    left: 161px;
    
}
.details{
    float: right;
    padding: 94px 102px;
    text-align: center;
    

}
.watch{
    font-size: larger;
}

.parts{
    width: 50%;
}
.img{
    background-image: url(imges/house-of-the-dragon-sn01-v2-ka-1920.jpg);
    background-size: cover;
    width: 641px;
    height: 361px;
    margin-left: 50px;
    margin-top: 20px;
}
  .sec-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color:#404040;
    font-size: 25px;
    align-items: center;
    margin-top: 43px;
    
}
  .card-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     width: 229px;
    height: 128px;
    
   
   
}
.card-btn-card
{
    width: 229px;
    overflow: hidden;
   transition: 1s;
   text-align: center;
  
   


}
.main-sec{
 display: flex;
justify-content: space-evenly;
margin: 50px;
align-items: center;
}
 h4{
    padding: 0px 50px;
    cursor: pointer;
    color: #404040;
    margin: 0px 10px;
}
.card-btn-card:hover{
    box-shadow: 0 4px 8px 0;
    opacity: 2;
}
.h4-card img{
   
   
    align-items: start;
    width: 229px;
    height: 128px;
    object-fit: fill;

   
}
.h4-card 
{
    width: 100%;
    height: 144px;
}

.bg-img-sec{
   margin: -7px 0px;
}
.footer-sec
{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
 align-items: center;
    background-color: #404040
    

}

.footer-sec .foot-div2{
margin: 0px 12px;
}
.foot-div2 ul
{ display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    gap: 15px;
    font-size: 13px;
    margin: 12px 0px;


}
.footer-privacy ul
{ display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    gap: 15px;
    font-size: 13px;
    margin: 15px 17px;

}
.coppy p
{ display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    padding: 9px 0px;
    gap: 15px;
    margin: 5px -9px;
    font-size: 12px;

}